<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Atendente
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Atendente</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->

  <ion-card>  
    <ion-card-content class="button">
      <ion-header>
        <ion-toolbar>
          <ion-button expand="block" color="primary" (click)="chamarSenha()">Atender senha em sequência</ion-button>
          <ion-button expand="block" color="danger" (click)="cancelarSenha()">Atendimento não realizado?</ion-button>
        </ion-toolbar>
      </ion-header>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-list-header size="large">Últimas senhas chamadas</ion-list-header>
          <ion-item *ngFor="let senha of senhasService.senhas">
            <ion-icon name="{{senha.icon}}" slot="start" color="{{senha.color}}"></ion-icon>
            <ion-label>{{senha.senha}}<br></ion-label>
          </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>  
    <ion-card-content class="button">
      <ion-header>
        <ion-toolbar>
          <ion-button expand="block" color="warning" (click)="reiniciarSistema()">Reiniciar o sistema?</ion-button>
        </ion-toolbar>
      </ion-header>
    </ion-card-content>
  </ion-card>

</ion-content>
