<!-- MADE BY HÉRICLES PAIVA SABACK DE MOURA -->
<!-- DO <B>NOT</B> USE WITHOUT PERMISSION! -->


<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Paciente
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-input readonly="true" label="Senha: " value="{{inputNovaSenha}}"></ion-input>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" (click)="senhasService.novaSenha()">Senha Geral</ion-button>
      <ion-button expand="block" (click)="senhasService.novaSenha()">Senha Prioritária</ion-button>
      <ion-button expand="block" (click)="senhasService.novaSenha()">Senha Exame</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
